{% extends "base.html.twig" %}

{%  block body %}
   <div style="margin-top: 200px;"  class="container text-center">
     <h1 style="font-size: 60px;" >Cette page n'existe pas</h1>
       <a style="margin-top: 25px" class="btn btn-secondary" href="/">Revenir à L'Acceuil</a>
   </div>
{% endblock %}